@model ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="ModelOnly"></div>
		<form asp-action="ResetPassword">
			<input class="text" asp-for="NewPassword" placeholder="New Password" required="">
			<br />
			<input class="text" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
			<br />
			<input type="submit" value="Submit">
		</form>
	</div>
</div>

@section ValidationScriptSection
{
	<partial name="_ValidationScriptsPartial" />
}
